.headerArea{
    background-image: url('../../images/Bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;    
}
.header_conteiner{
    padding-top: 110px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);   
}



.headerInfo h2{            /*============ Header content ============*/
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Roboto Slab";
    margin-top: 25px;
    font-weight: 400;
}

.headerInfo p, article{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: "Roboto Slab";
    margin-top: 25px;
    font-weight: 400;
}
.headerInfo article{
    font-style: italic;
}



.headerInfo Button{           /*============ Header Buttom ============*/
    background-color: red !important;
    letter-spacing: 2px;
    border-radius: 5px;
    border-color: red;
    padding: 15px 25px;
    font-size: 18px;
    font-family: "Roboto Slab";
}
.headerInfo Button:hover{
    background-color: rgba(255, 0, 0, 0.678) !important;
    border-color: red;
}



.heroImg{                    /* ============= Gym award img ============*/
    margin-top: 50px;
    background-image: url(../../images//hero-image.jpg);
    background-repeat: no-repeat;
    height: 470px;
}
.heroImg img{
    transform: translateY(270px) translateX(270px);
    animation: animate infinite 1s ease-in-out;
    animation-direction: alternate;
}
@keyframes animate {
    0%{
        transform: translateY(250px) translateX(290px) rotateY(45deg);
    }
}
