.blog_Area {
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    
}
.blog_Area article {
    font-size: 20px !important;
    margin-top: 10px !important;
    padding: 20px 10px !important;
    
}
.blogReader{
    border-bottom: none !important;
    font-style: italic;
    font-size: 19px !important;
}
.blogReader small{
    font-size: 18px !important;
    font-style: italic !important;
    text-transform: lowercase !important;
}




.blog_Area .services_section:hover{
    border: none !important;
}


.blog_Area .card_container{
    /* height: 100%; */
    border-radius: 2%;
}
.blog_Area .card_container:hover{
    /* height: 100%; */
    border: 1px solid red;
}
.blog_Area Button{
    margin: 10px 0;
    background-color: rgba(255, 0, 0, 0) !important;
    color: red !important;
}
.blog_Area Button:hover{
    margin: 10px 0;
    background-color: rgb(255, 0, 0) !important;
    color: white !important;
}